################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TGI.WebApp/.vs/TGI.WebApp/v16/Server/sqlite3
